HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# ---- Logs, classes e temporários
*.log
*.class
*.swp
*.swo

# ---- SO
.DS_Store
Thumbs.db

# ---- Arquivos de ambiente/segredos
*.env
*.env.*
.env
.env.*

#docker

docker-compose_antigo.yml
