version: "3.8"

services:
  rotas-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rotas-api
    restart: always
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - minio

  minio:
    image: quay.io/minio/minio:latest
    container_name: minio
    restart: always
    ports:
      - "9000:9000"
      - "9090:9090"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9090"
    volumes:
      - minio_data:/data

volumes:
  minio_data: